numpy
joblib
fastapi
jinja2
python-multipart
uvicorn
aiofiles
jupyterlab
matplotlib
scikit-learn
scikit-plot
scipy
seaborn
yellowbrick
opencv-python
pillow
Python-IO
pandas
python-utils
utils
google-generativeai
IPython
google-cloud-aiplatform
opencv-python-headless
opencv-contrib-python
tensorflow==2.11.0
keras==2.6.0

