/* BODY AND GENERAL*/

* {
  padding: 0;
  box-sizing: border-box;
  --transition: all 0.2s ease;
  position: relative;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-bg: #e2e2e2;
}


body{
    background: #0B0C10;  
}



.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 78px;
  height: 100%;
  background: transparent;
  padding: 8px 16px;
  transition: var(--transition);
}

.sidebar.expand {
  width: 250px;
  transition: var(--transition);
}

.nav-header {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-header .logo {
  color: var(--color-white);
  padding-top:7%;
  font-size: 23px;
  font-weight: 600;
  opacity: 0;
  transition: var(--transition);
}

.sidebar.expand .nav-header .logo {
  opacity: 1;
  transition: var(--transition);
}

.nav-header .btn-menu {
  position: absolute;
  color: var(--color-white);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  margin-right: 10px;
}

.sidebar.expand .nav-header .btn-menu {
  margin-right: 0;
}

.nav-links {
  margin-top: 20px;
  height: 100%;
}

.nav-links li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.nav-links i {
  color: transparent;
}

.sidebar.expand .nav-links i {
  color: var(--color-white);
  height: 50px;
  min-width: 50px;
  font-size: 23px;
  text-align: center;
  line-height: 50px;
}

.nav-links li a,.nav-links li form {
  display: flex;
  height: 5%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background: transparent;
}

.nav-links li:hover a {
  background: transparent;
}

.sidebar.expand .nav-links li:hover i {
  color: #66FCF1;
}

.nav-links li a .title,.nav-links li form .title {
  color: var(--color-white);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  display: none;
  transition: var(--transition);
  padding: 0;
  border: none;
  background: none;
  background-color: transparent;

}

.sidebar.expand .nav-links li a .title, .sidebar.expand .nav-links li form .title {
  display: block;
  transition: var(--transition);
}

.nav-links li:hover a .title {
  color: #66FCF1;
}

.nav-links li:hover form {
  background: transparent;
}

.nav-links li:hover form .title {
  color: #66FCF1;
}





.nav-links li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: transparent;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  color: var(--color-white);
  font-size: 15px;
  white-space: nowrap;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}



.sidebar.expand .tooltip {
  display: none;
}



-header .logo {
  color: var(--color-white);
  padding-top:7%;
  font-size: 23px;
  font-weight: 600;
  opacity: 0;
  transition: var(--transition);
}

.sidebar.expand .nav-header .logo {
  opacity: 1;
  transition: var(--transition);
}

.nav-header .btn-menu {
  position: absolute;
  color: var(--color-white);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 23px;
  cursor: pointer;
  margin-right: 10px;
}

.sidebar.expand .nav-header .btn-menu {
  margin-right: 0;
}

.nav-links {
  margin-top: 20px;
  height: 100%;
}

.nav-links li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.nav-links i {
  color: var(--color-white);
  height: 50px;
  min-width: 50px;
  font-size: 23px;
  text-align: center;
  line-height: 50px;
}




.nav-links li a,.nav-links li form {
  display: flex;
  height: 5%;
  width: 100%;
  align-items: center;
  text-decoration: none;
  background: transparent;
}

.nav-links li:hover a {
  background: transparent;
}

.nav-links li:hover i {
  color: #66FCF1;
}

.nav-links li a .title,.nav-links li form .title {
  color: var(--color-white);
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  display: none;
  transition: var(--transition);
  padding: 0;
  border: none;
  background: none;
  background-color: transparent;

}

.sidebar.expand .nav-links li a .title, .sidebar.expand .nav-links li form .title {
  display: block;
  transition: var(--transition);
}

.nav-links li:hover a .title {
  color: #66FCF1;
}

.nav-links li:hover form {
  background: transparent;
}

.nav-links li:hover form .title {
  color: #66FCF1;
}



.nav-links li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: transparent;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 14px;
  color: var(--color-white);
  font-size: 15px;
  white-space: nowrap;
  border-radius: 3px;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: var(--transition);
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.expand .tooltip {
  display: none;
}




a{
  color:white;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
span,
strike {
  font-family: "Montserrat", sans-serif;
  padding:35px;
  color:white;
}

p {
  font-family: 'Open Sans';
  font-size: 20px;
  color:white;
}


li {
  list-style: none;
}


#upload {
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  border-color: #66FCF1;
  border-style: solid;
  border-width: thin;
}

#file {
  padding-top: 40px;
  font-size: 22px;
}

.container {
    margin-top: 200px;
    padding:50px;
    color: white;
    border-radius: 10px;
    border-color: #66FCF1;
    border-style: solid;
    border-width: thin;
    }


.container h1 {
  padding:15px;
  font-weight: bold;
}

#results hr{
  margin-top: -30px;
  margin-bottom: 40px;
  padding-left: 20%;
}

#footer {
  margin-top:150px;
  padding:30px;  
  background: radial-gradient(circle, rgba(137,212,209,1) 0%, rgba(53,79,111,1) 100%);
}


#footer h3, #footer p, #footer a{
   color: black;
}

.contact {
  font-size: 150%;
}

.column {
  padding-right:8%;
  padding-left: 15%;
}

.column h3{
  padding-bottom:0%;
  padding-left:15px;
}

.column hr{
  padding-left:20%;
}


@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

:root {
  --d: 2500ms;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
}

.btn {
  align-items: center;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.10turn, var(--c2) 0.20turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}



@keyframes borderRotate {
  100% {
    --angle: 425deg;
  }
}

.sidebar.expand ~ .home {
  left: 250px;
  width: calc(100% - 250px);
  transition: var(--transition);
}